// small
@media (max-width: 991px) {
    .fullpage{
        height: 100vh;
        position: relative;
    }
    .center-grid{
        
    }
    .main{
        position: absolute;
        top: 30%;
    }
    .big-text{
        display: inline;
        h1{
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            color: $color-light;
        }
        h2{
            font-weight: $font-weight-bold;
            font-size: $font-size-lg;
            color: $color-light;
        }
        p{
            font-family: $font-family-unica;
            font-weight: $font-weight-light;
            color: $dark-white;
            
        }
    
    }
    .detail{
        p{
            color: $white !important;
            font-size: $font-size-base;
            word-break: break-all;
        }
    }
    .programing{
        p{
            word-break: break-all;
        }
    }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .main-inactive{
        transition: .9s ease-in;
    }
    .main-active{
        margin-left: 1rem;
        transition: .7s ease-in;
    }

    .fullpage{
        height: 100vh;
        padding: 0;
        margin: 0;
        transition: .9s ease-in;
        
    }
    .center-grid{
        display: grid;
        align-items: center;
    }


  
    

}


