@media (max-width: 991px) {

    #topbar{
        padding: 0;
        margin: 0;
    }
    .sidebar-main{
        padding: 0;
    }
    .sidebar-fix{
        background-color: $black;
        padding-bottom: .3rem;
        overflow: hidden;
    
        .collapse-btn{
            display: block;
            cursor: pointer;
            color: $dark-white;
            float: right;
            margin-right: 10px;
        }
    }
    .navitem-inactive{
        .primary-nav, .social{
            overflow: hidden;
            height: 0%;
            display: none;
        }
    }
    .navitem-active{
        .sidebar-fix{
            height: 600px;
        }
        .primary-nav{
            display: flex;
            justify-content: center;
            
            ul{
                padding: 0;
                li{
                    :hover{
                        color: fuchsia;
                    }
                    a{
                        span{
                            margin-left: 1rem;
                        }
                    }
                }
                .line{
                    border-bottom: 1px solid $gry; 
                }
            }
        }
        li{
            a{
                color: $dark-white;
                font-family: Unica;
                font-size: 1.5rem;
                line-height: 4rem;
            }
        }
        .social{
            margin-top: 1.5rem;
            padding: 0;
        }
        .social-icons{
            padding: 0;
            display: flex;
            justify-content: space-around;
            li{
                :hover{
                    color: fuchsia;
                }
            }
        }
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .col-lg-1{
        transition: width 1.2s;
    }
    .col-lg-2{
        transition: width 1.2s;
    }
    .sidebar-main{
        margin: 0;
        padding: 0;
    }
    .sidebar-fix{
       background-color: $black;
       height: 100vh;
       padding: 0;
       padding: 0 12px;
       position: fixed;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
        .collapse-btn{
            cursor: pointer;
            color: $dark-white;
        }
    
        li{
            :hover{
                color: fuchsia;
            }
            a{
                color: $dark-white;
                font-family: Unica;
            }
        }
    }
    .primary-nav{
        padding:0;
        ul{
            display: inline-block;
            padding: 0;
            a{
                font-size: 1.5rem;
                line-height: 5rem;
            }
        }
    }
    .social{
        padding: 0;
        
        .social-icons{
            padding: 0;

        }
    }

    .navitem-inactive{
        .sidebar-fix{
            width: 60px;
            transition: .5s ease-in;
        }
        .primary-nav{
            ul{
                li{
                    a{
                        span{
                            overflow: hidden;
                            position: fixed;
                            display: none;
                        }
                    }
                }
            }
        }
        .social{
            margin-bottom: 1rem;
            .social-icons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;
                li{
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .navitem-active{
        .sidebar-fix{
            width: 170px;
            transition: .5s ease-in;
            padding: 0 15px;
        }
        .primary-nav{
            ul{
                li{
                    a{
                        span{
                            display: inline-flex;
                            position: fixed;
                            padding-left: 1.2rem;
                        }
                    }
                }
            }
        }
        .social{
            .social-icons{
                display: flex;
                height: 10rem;
                justify-content: space-between;
                transition: .7s ease-in;
            }
        }
    }

}
